# Ignore all folders except dist
/scripts/ export-ignore
/sprites/ export-ignore
/src/ export-ignore
/static/ export-ignore
/styles/ export-ignore

# Ignore all root files
.* export-ignore
/*.html export-ignore
/*.js export-ignore
/*.json export-ignore
/*.lock export-ignore
/*.yml export-ignore
/*.md export-ignore

# Keep files and folders
/composer.json !export-ignore
/dist/ !export-ignore