@use './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	font-family: var(--primary-font);
	font-weight: var(--font-weight-regular);
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	max-width: 100vw;
	overflow-x: hidden;
}

button,
a,
p {
	all: unset;
}

ul,
ol,
li {
	margin-block-start: 0;
	margin-block-end: 0;
	unicode-bidi: isolate;
}
